.blog p:has(img) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog img {
  border: 2px solid black;
  border-radius: 8px;
}

.blog blockquote {
  border-left: 2px solid var(--color-secondary);
  padding-left: 6px;
  background-color: color-mix(in srgb, var(--color-primary-dark) 40%, transparent);
  font-style: italic;
}

.blog pre:has(code) {
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 8px;
}

.blog code {
  font-family: var(--font-fira-code);
  background-color: #24292e;
  border-radius: 4px;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
}

.blog h1 {
  margin-top: 16px;
}

.blog ol {
  list-style-type: decimal;
  padding-left: 24px;
  margin-bottom: 8px;
}

.blog ul {
  list-style-type: disc;
  padding-left: 24px;
  margin-bottom: 8px;
}

