.card {
  width: 240px;
  margin: 8px;

  background-color: var(--color-tertiary);
  border-radius: 8px;
  border: 5px solid var(--color-secondary);
  padding: 10px;

  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    z-index: 0;
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(-6px);
    cursor: pointer;
  }
}

.card-image {
  z-index: 2;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-tag {
  width: fit-content;
  font-family: "Anonymous Pro", monospace;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  margin: 4px auto;
}
