@import "tailwindcss";

@theme {
  --color-primary: #F8E4E9;
  --color-secondary: #ED008B;
  --color-tertiary: #EBE63F;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-anonymous: "Anonymous Pro", monospace;
  --font-pixel: "m6x11";
  --font-pixel-light: "m5x7";
  --spacing: 4px;
}

@font-face {
  font-family: "m5x7";
  src: url("../assets/fonts/m5x7/m5x7.ttf"),
       url("../assets/fonts/m5x7/m5x7.woff"),
       url("../assets/fonts/m5x7/m5x7.woff2"),
       url("../assets/fonts/m5x7/m5x7.svg#filename");
}

@font-face {
  font-family: "m6x11";
  src: url("../assets/fonts/m6x11/m6x11.ttf"),
       url("../assets/fonts/m6x11/m6x11.woff"),
       url("../assets/fonts/m6x11/m6x11.woff2"),
       url("../assets/fonts/m6x11/m6x11.svg#filename");
}

body {
  font-family: var(--font-anonymous);
  background-color: #F8E4E9;
  text-align: justify;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.alexander-kam {
  font-family: var(--font-pixel);
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-anonymous);
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

a {
  color: var(--color-secondary);
  text-decoration: underline;
}

b, strong {
  color: var(--color-secondary);
}

.title {
  font-size: 28px;
  color: var(--color-secondary);
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
}

br {
  border-bottom: solid 1px;
}
