.nav-link {
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    z-index: 0;
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(-4px);
    cursor: pointer;
  }
}
