---
import '../styles/global.css'
import MainLayout from '../layouts/MainLayout.astro'
import Navigation from '../components/Navigation.astro'
---
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<MainLayout title="i make games, sometimes" showName>
  <p>This is where I would put my blog posts, if I had any</p>
</MainLayout>
