---
import '../styles/global.css'
import { Image } from 'astro:assets'
import alex from '../assets/alex.png'
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
---
<Layout>
  <div class="flex flex-row justify-center">
    <Image class="w-32 h-32" src={alex} alt="Alex Kam" />
  </div>
  <h1 class="text-center">alexander kam</h1>
  <h3 class="text-center">game programmer</h1>
</Layout>
