---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title="professional work">
  <h3 class="text-center">commercial games and software that I have contributed to</h3>
</MainLayout>

