---
import { Image } from 'astro:assets'
import alex from '../assets/alex.png'
---
<div class="flex flex-row justify-center">
  <Image class="w-32 h-32" loading="eager" src={alex} alt="Alex Kam" />
</div>
