---
import '../styles/nav.css'
import { Image } from 'astro:assets'
import backButton from '../assets/buttons/back-button.png'
---
<div class="flex flex-row justify-center mt-4">
  <a class="nav-link" href='javascript:history.back()' alt='back-button'>
    <Image class='pixel' src={backButton} alt="back-button-image" />
  </a>
</div>
