---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'
const { title } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	</head>
  <main class="mx-auto max-w-200 p-4">
    <slot />
    <footer></footer>
  </main>
</html>
