---
import '../styles/global.css'
import Alex from '../components/Alex.astro'
import NavLayout from './NavLayout.astro'
const { title, showName } = Astro.props
---
<NavLayout title={title}>
  <Alex />
  {showName && <div class="alexander-kam text-center">alexander kam</div>}
  {!showName && <h1 class="title text-center mb-3">{title}</h1>}
  <slot />
</NavLayout />
