---
import '../styles/global.css'
import '../styles/nav.css'
import '../styles/blog.css'
import { Image } from 'astro:assets'
import BackButton from '../components/BackButton.astro'
import Alex from '../components/Alex.astro'
import Layout from './Layout.astro'
import backButton from '../assets/buttons/back-button.png'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <header>
    <BackButton />
  </header>
  <body>
    <Alex />
    <h1 class="title text-center mb-3">{frontmatter.title}</h1>
  <div class="blog">
    <slot />
  </div>
  <BackButton />
  </body>
</Layout />
