---
import '../styles/global.css'
import '../styles/nav.css'
import { Image } from 'astro:assets'
import NavLink from '../components/NavLink.astro'
import Alex from '../components/Alex.astro'
import Layout from './Layout.astro'
import backButton from '../assets/buttons/back-button.png'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <header>
    <div class="flex flex-row justify-center mt-4">
      <a class="nav-link" href='javascript:history.back()' alt='back-button'>
        <Image class='pixel' src={backButton} alt="back-button-image" />
      </a>
    </div>
  </header>
  <body>
    <Alex />
    <h1 class="title text-center mb-3">{frontmatter.title}</h1>
    <slot />
  </body>
</Layout />
